<h2 id="yes-list">👍 Yes:</h2>
<ol>
    <li>
        <p>Syntax: <code>&lt;Input &#123;&#123;on "keyup" this.someAction&#125;&#125; /&gt;</code></p>
        <label for="keyup">Event is on keyup</label>
        <Input {{on "keyup" this.updateName}} id="keyup" autocomplete="on" name="name" @value="" />
        <p>Note: this also responds after pressing the <kbd>TAB</kbd> key, not sure if that's great?</p>
    </li>
    <li>
        <p>Syntax: <code>&lt;Input @keyUp=&#123;&#123;this.someAction&#125;&#125; /&gt;</code></p>
        <label for="at-keyup-cc">Event is @keyUp</label>
        <Input @keyUp={{this.updateName}} id="at-keyup-cc" />
    </li>
    <li>
        {{!-- <p>Syntax:<code>&lt;Input /&gt;</code></p> --}}
        <label for="on-keydown">Event is on keydown</label>
        <Input  {{on "keydown" this.updateName}} id="on-keydown" />
    </li>
    <li>
        {{!-- <p>Syntax:<code>&lt;Input /&gt;</code></p> --}}
        <label for="at-keydown-cc">Event is @keyDown</label>
        <Input  @keyDown={{this.updateName}} id="at-keydown-cc" />
    </li>
    <li>
        {{!-- <p>Syntax:<code>&lt;Input /&gt;</code></p> --}}
        <label for="at-enter-action">Event is @enter + action</label>
        <Input  @enter={{action "updateName"}} id="at-enter-action" />
    </li>
    <li>
        <p>Syntax:<code>&#123;&#123;input enter=(action "updateName")&#125;&#125;</code></p>
        {{!-- works --}}
        <label for="enter-action">event is enter plus action</label>
        {{input enter=(action "updateName") id="firstname-action-017b"}}
    </li>
    <li>
        {{!-- works --}}
        <label for="at-insertnewline-cc">Event is @insertNewLine</label>
        <Textarea @insertNewline={{this.updateName}} id="at-insertnewline-cc" />
    </li>
    <li>
        {{!-- works--}}
        <label for="at-focusin-cc">Event is @focusIn</label>
        <Input @focusIn={{this.updateName}} id="at-focusIn-cc" />
    </li>
    <li>
        {{!-- works --}}
        <label for="at-focusout-cc">Event is @focusOut</label>
        <Input @focusOut={{this.updateName}} id="at-focusout-cc" />
    </li>
    <li>
        {{!-- works --}}
        <label for="at-keypress-cc">Event is @keyPress</label>
        <Input @keyPress={{this.updateName}} id="at-keypress-cc" />
    </li>
    <li>
        {{!-- works --}}
        <label for="at-escape-press-plus-action">Event is @escape-press</label>
        <Input @escape-press={{action "updateName"}} id="at-escape-press-plus-action" />
    </li>
</ol>

<h2 id="no-list">👎 No:</h2>
<ol>
    <li>
        <p>Syntax: <code>&lt;Input &#123;&#123;on "key-up" this.someAction&#125;&#125; /&gt;</code></p>
        <label for="on-key-up">Event is on key-up</label>
        <Input {{on "key-up" this.updateName}} id="on-key-up" />
    </li>
    <li class="broken">
        <p>Syntax: <code>&lt;Input @key-up=&#123;&#123;this.someAction&#125;&#125; /&gt;</code></p>
        <label for="at-key-up">Event is @key-up</label>
        <Input @key-up={{this.updateName}} id="at-key-up" />
    </li>
    <li>
        {{!-- <p>Syntax:<code>&lt;Input /&gt;</code></p> --}}
        <label for="keyup-cc">Event is keyUp</label>
        <Input keyUp={{this.updateName}} id="keyup-cc" />
    </li>
    <li>
        {{!-- <p>Syntax:<code>&lt;Input /&gt;</code></p> --}}
        <label for="at-keydown">Event is @keydown</label>
        <Input  @keydown={{this.updateName}} id="at-keydown" />
    </li>
    <li>
        {{!-- <p>Syntax:<code>&lt;Input /&gt;</code></p> --}}
        <label for="at-onkeydown">Event is @onkeydown</label>
        <Input  @onkeydown={{this.updateName}} id="at-onkeydown" />
    </li>
    <li>
        {{!-- <p>Syntax:<code>&lt;Input /&gt;</code></p> --}}
        {{!-- This does not work: uses on event name --}}
        <label for="at-onkeydown-cc">Event is @onKeyDown</label>
        <Input  @onKeyDown={{this.updateName}} id="at-onkeydown-cc" />
    </li>
    <li>
        {{!-- <p>Syntax:<code>&lt;Input /&gt;</code></p> --}}
        {{!-- not working --}}
        <label for="on-onkeydown">Event is on onkeydown</label>
        <Input  {{on "onkeydown" this.updateName}} id="on-onkeydown" />
    </li>
    <li>
        {{!-- <p>Syntax:<code>&lt;Input /&gt;</code></p> --}}
        {{!-- not working --}}
        <label for="on-onkeydown-cc">Event is on onKeyDown</label>
        <Input  {{on "onKeyDown" this.updateName}} id="on-onkeydown-cc" />
    </li>
    <li>
        {{!-- <p>Syntax:<code>&lt;Input /&gt;</code></p> --}}
        <label for="on-keydown-cc">Event is on keyDown</label>
        <Input  {{on "keyDown" this.updateName}} id="on-keydown-cc" />
    </li>
    <li>
        {{!-- <p>Syntax:<code>&lt;Input /&gt;</code></p> --}}
        <label for="on-enter">Event is on enter</label>
        <Input  {{on "enter" this.updateName}} id="on-enter" />
    </li>
    <li>
        {{!-- <p>Syntax:<code>&lt;Input /&gt;</code></p> --}}
        {{!-- doesn't do anything --}}
        <label for="at-enter">Event is at enter</label>
        <Input  @enter={{this.updateName}} id="at-enter" />
    </li>
    <li>
        <p>Syntax:<code>&#123;&#123;input enter=this.someAction&#125;&#125;</code></p>
        {{!-- does not work --}}
        <label for="curly-enter-this">Event is enter plus this.someAction</label>
        {{input type="text" autocomplete="on" enter=this.updateName id="curly-enter-this"}}
    </li>      
    <li>
        {{!-- no --}}
        <label for="at-focus-in">Event is @focus-in</label>
        <Input  @focus-in={{this.updateName}} id="at-focus-in" />
    </li>
    <li>
        {{!-- no --}}
        <label for="at-focusin">Event is @focusin</label>
        <Input  @focusin={{this.updateName}} id="at-focusin" />
    </li>
    <li>
        {{!-- doesn't do anything --}}
        <label for="on-insert-newline">Event is on insert-newline</label>
        <Textarea  {{on "insert-newline" this.updateName}} id="on-insert-newline" />
    </li>
    <li>
        {{!-- doesn't do anything --}}
        <label for="on-escape-press">Event is on escape-press</label>
        <Input  {{on "escape-press" this.updateName}} id="on-escape-press" />
    </li>
    <li>
        {{!-- doesn't do anything --}}
        <label for="at-escapepress-cc">Event is @escapePress</label>
        <Input @escapePress={{this.updateName}} id="at-escapepress-cc" />
    </li>
    <li class="broken">
        {{!-- doesn't work --}}
        <label for="at-escape-press">Event is @escape-press</label>
        <Input @escape-press={{this.updateName}} id="at-escape-press" />
    </li>
    <li>
        {{!-- doesn't work --}}
        <label for="at-escapepress">Event is @escapepress</label>
        <Input @escapepress={{this.updateName}} id="at-escapepress" />
    </li>
    <li>
        {{!-- doesn't do anything --}}
        <label for="on-focus-in">Event is on focus-in</label>
        <Input {{on "focus-in" this.updateName}} id="on-focus-in" />
    </li>
    <li>
        {{!-- doesn't do anything --}}
        <label for="on-focus-out">Event is on focus-out</label>
        <Input  {{on "focus-out" this.updateName}} id="on-focus-out" />
    </li>
    <li>
        {{!-- doesn't do anything --}}
        <label for="on-key-press">Event is on key-press</label>
        <Input  {{on "key-press" this.updateName}} id="on-key-press" />
    </li>
    <li>
        {{!-- does not work --}}
        <label for="at-escapepress-cc-plus-action">Event is @escapePress</label>
        <Input  @escapePress={{action "updateName"}} id="at-escapepress-cc-plus-action" />
    </li>

    <li>
        {{!-- This does not work: uses dasherized event name --}}
        <label for="at-key-press">Event is @key-press</label>
        <Input  @key-press={{this.updateName}} id="at-key-press" />
    </li>
    <li>
        {{!-- no --}}
        <label for="at-focus-out">Event is @focus-out</label>
        <Input  @focus-out={{this.updateName}} id="at-focus-out" />
    </li>
    <li>
        {{!-- no --}}
        <label for="at-focusout">Event is @focusout</label>
        <Input  @focusout={{this.updateName}} id="at-focusout" />
    </li>
    <li>
        {{!-- yes --}}
        <label for="on-focusin">Event is on focusin</label>
        <Input  {{on "focusin" this.updateName}} id="on-focusin" />
    </li>
    <li>
        {{!-- yes --}}
        <label for="on-focusout">Event is on focusout</label>
        <Input  {{on "focusout" this.updateName}} id="on-focusout" />
    </li>
</ol>

{{!-- <ol>
    <li>
        <p>Syntax:<code>&lt;Input /&gt;</code></p>

    </li>
    
</ol> --}}
{{!-- 

    enter
    insert-newline
    escape-press
    focus-in
    focus-out
    key-press
    key-up
 --}}

{{!-- 
TODO
In the Guides, link to the "real" API docs page, https://api.emberjs.com/ember/release/classes/Ember.Templates.components/methods/Input?anchor=Input not https://api.emberjs.com/ember/release/classes/Ember.Templates.helpers/methods/if?anchor=input

insert newline shouldn't be shown for the plain input component

@key-press does not work, but @escape-press does.... <Input @escape-press={{...}} />
Keypress is a real event and escape press is not?
enter is not a real event but it also doesn't work

Philosophical question - is the happy path today to NOT use the input component?

Use linting to indicate which things won't work
--}}
